.DS_Store
.dart_tool/

.packages
.pub/

build/
android/.cxx/
scripts/ios/mobileliblelantus/
scripts/ios/External/
scripts/ios/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/ios/CMakeLists/secp256k1/CMakeLists.txt
scripts/ios/toolchain/
scripts/ios/flutter_libepiccash_bins/

scripts/android/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/android/CMakeLists/secp256k1/CMakeLists.txt
scripts/android/mobileliblelantus/
scripts/android/android_on_mac/build/
scripts/android/flutter_libepiccash_bins/

scripts/linux/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/linux/CMakeLists/secp256k1/CMakeLists.txt
scripts/linux/mobileliblelantus/
scripts/linux/android_on_mac/build/

scripts/linux_arm64/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/linux_arm64/CMakeLists/secp256k1/CMakeLists.txt
scripts/linux_arm64/mobileliblelantus/
scripts/linux_arm64/android_on_mac/build/
scripts/linux/flutter_libepiccash_bins/

scripts/windows/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/windows/CMakeLists/secp256k1/CMakeLists.txt
scripts/windows/build/
scripts/windows/cache/

scripts/windows/mingw64-on-win/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/windows/mingw64-on-win/CMakeLists/secp256k1/CMakeLists.txt
scripts/windows/mingw64-on-win/build/
scripts/windows/mingw64-on-win/cache/

scripts/windows/msvc/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/windows/msvc/CMakeLists/secp256k1/CMakeLists.txt
scripts/windows/msvc/build/
scripts/windows/msvc/cache/
scripts/windows/flutter_libepiccash_bins/

.idea
lib/git_versions.dart

scripts/macos/flutter_libepiccash_bins/
linux/bin/
