.DS_Store
.dart_tool/

.packages
.pub/

build/
android/.cxx/
scripts/ios/mobileliblelantus/
scripts/ios/External/
scripts/ios/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/ios/CMakeLists/secp256k1/CMakeLists.txt
scripts/ios/toolchain/

scripts/android/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/android/CMakeLists/secp256k1/CMakeLists.txt
scripts/android/mobileliblelantus/
scripts/android/android_on_mac/build/

scripts/linux/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/linux/CMakeLists/secp256k1/CMakeLists.txt
scripts/linux/mobileliblelantus/
scripts/linux/android_on_mac/build/

scripts/linux_arm64/CMakeLists/mobileliblelantus/CMakeLists.txt
scripts/linux_arm64/CMakeLists/secp256k1/CMakeLists.txt
scripts/linux_arm64/mobileliblelantus/
scripts/linux_arm64/android_on_mac/build/

.idea
lib/git_versions.dart
scripts/windows/CMakeLists/mobileliblelantus/CMakeLists.txt

scripts/windows/CMakeLists/secp256k1/CMakeLists.txt

windows/CMakeCache.txt

windows/CMakeFiles/cmake.check_cache

scripts/mingw64/CMakeLists/mobileliblelantus/CMakeLists.txt

scripts/mingw64/CMakeLists/secp256k1/CMakeLists.txt

scripts/mingw64/cache/

scripts/windows/cache/openssl-1.1.1k.tar.gz

scripts/windows/MSVC/cache/openssl-1.1.1k.tar.gz

scripts/windows/MSVC/CMakeLists/mobileliblelantus/CMakeLists.txt

scripts/windows/MSVC/CMakeLists/secp256k1/CMakeLists.txt
